
.about-page-container{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:0;
    justify-content: center;
    align-items: center;
    background-image: url("../images/page-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.about-page-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--color-baby-blue-transparent), var(--color-baby-blue));
    max-width:1200px;
    width:100%;
    border-radius: 15px;
    margin: 100px 20px;
}
h1, h2{
    text-align: center;
    border-bottom: 1px solid var(--color-salmon);
    width:100%;
    color: var(--color-text-black-dark);
}
h3, p{
    color: var(--color-text-black);
}
p{
    text-align: center;
}
.about-us-container, .why-book-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}
.why-book-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:80%;
}
.small-why-container{
    width: 200px;
    height: 200px;
    text-align: center;
}
.small-why-container>h3{
    font-size: 18px;
}
.small-why-container>img{
    height:50px;
    width:50px;
    position:relative;
    transition: transform 0.5s ease-in-out;
}
.small-why-container>img:hover {
    animation: shake 0.4s ease-in-out infinite;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-1px);
    }
    50% {
        transform: translateX(1px);
    }
    75% {
        transform: translateX(-1px);
    }
}
.our-team-container{
    display:flex;
    flex-direction: column;
    width:80%;
}
.our-team-boxes, .recomendation-card-container, .why-book-boxes{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:40px;
}
.small-team-container{
    width:150px;
    height:auto;
}
.small-team-container>h3{
    text-align: center;
    font-size: 18px;
    margin: 0;
}
.small-team-container>p{
    text-align: center;
}
.our-partners{
    display:flex;
    flex-direction: column;
    width:80%;
}
.partner-carousel {
    flex:1;
    width:100%;
    margin: 0 auto;
    overflow: hidden;
    max-width:fit-content;
}
.partner-carousel-inner {
    display: flex;
    animation: loopCarousel 15s linear infinite;
    width:100%;
    box-sizing:border-box;
}
.partner-carousel-inner a {
    flex: 0 0 20%;
}
@keyframes loopCarousel {
    0% {
    transform: translateX(0%);
    }
    100% {
    transform: translateX(-100%);
    }
}
.partner-carousel-inner:hover {
animation-play-state: paused;
}
.recomendation-link>img{
    max-height:30px;
    width:100px;
    padding: 20px;
    transition: transform 0.5s;
}
.recomendation-link>img:hover{
    transform: scale(1.1);
}
h1,h2{
    padding-bottom: 20px;
}
@media (max-width: 660px) {
    .why-book-boxes, .our-team-boxes, .recomendation-card-container {
        flex-direction: column;
        align-items: center;

    }
    .about-page-content{
        margin: 0;
        border-radius: 0px;
        padding: 30px 15px;
    }
}





