@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E7F2F8;

    --color-baby-blue: #E7F2F8;
    --color-baby-blue-transparent: rgba(231, 242, 248, 0.8);

    --color-aquamarine: #74BDCB;
    --color-aquamarine-light: #8dc8d4;
    --color-aquamarine: #59a8b8;

    --color-salmon: #FFA384;
    --color-salmon-light: #fdb39a;
    --color-salmon-dark: #ff8f6a;

    --color-freesia: #EFE7BC;
    --color-freesia: #faf4d3;
    --color-freesia: #e7dda1;

    --color-text-black: rgb(59, 59, 59);
    --color-text-black-light: rgb(107, 107, 107);
    --color-text-black-dark: rgb(49, 49, 49);
}
/* header */
header {
    background-color: #74BDCB;
    color: white;
    text-align: center;
    padding: 1rem;
}
.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 20px;
}
.navbar-collapse {
    display: flex;
}
.navbar-nav {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-item {
    display: flex;
}
.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    transition: background-color 0.3s;
}
.nav-link:hover {
    /* background-color: #FFA384; */
    border-bottom: 2px solid #FFA384;
    color: white;
    border-radius: 3px;
}
/* footer */
.footer {
    background-color: #EFE7BC;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.footer-section {
    margin: 0 20px;
    text-align: left;
    color: #333;
    flex: 1;
}
.footer p {
    text-align: left;
}
.footer a {
    color: #333;
    text-decoration: none;
}
.footer a:hover {
    font-size: 17px;
}
