@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #E7F2F8;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

/* .header {
    background-color: #74BDCB;
    color: white;
    text-align: center;
    padding: 1rem;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
}

.navbar ul li a:hover {
    background-color: #FFA384;
    color: white;
    border-radius: 3px;
    padding: 10px;
} */

.header {
    background-color: #74BDCB;
    color: white;
    text-align: center;
    padding: 1rem;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar-collapse {
    display: flex;
}

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: flex;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #FFA384;
    color: white;
    border-radius: 3px;
    padding: 10px;
}

/* .footer {
    background-color: #EFE7BC;
    padding: 1rem;
    text-align: left;
    color: #333;
    display: flex;
    padding-left: 70px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer a {
    color: #333;
    text-decoration: none;
}
.footer a:hover {
    font-size: 17px;
} */

.footer {
    background-color: #EFE7BC;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.footer-section {
    margin: 0 20px;
    text-align: left;
    color: #333;
    flex: 1;
}

.footer h5 {
    margin-top: 0;
}

.footer a {
    color: #333;
    text-decoration: none;
}

.footer a:hover {
    font-size: 17px;
}
