* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}


body {
    background: url("../images/page-background.jpg");
}


.row {
    display: flex;
  }

  /* Original styles for the columns */
  .column {
    flex: 1; /* Allow columns to take equal width */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width */
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column; /* Stack columns vertically on smaller screens */
    }
  }



.blog {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(231,242,248, 0.8), rgba(231,242,248, 1));
    max-width:1200px;
    border-radius: 15px;
    padding: 30px 40px;
    margin:20px;
    height: 50vh;
}



.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
}

.page-button {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #ddd;
}


.img-responsive {
    width: 100%;
}
