* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}


body {
    background: url("../images/page-background.jpg");
}


.row {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center items */
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
}

  /* Original styles for the columns */
.column {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width */
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    }
}


.blog {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(231,242,248, 0.8), rgba(231,242,248, 1));
    max-width:1200px;
    border-radius: 15px;
    padding: 30px 40px;
    margin:20px;
}



.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #ddd;
}


.img-responsive {
    width: 100%;
}
