* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}


body {
    background: url("../images/page-background.jpg");
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(231, 242, 248, 0.8), rgba(231, 242, 248, 1));
    max-width: 1200px;
    border-radius: 15px;
    padding: 30px 40px;
    margin: 20px;
    height: auto; /* Allow the height to adjust based on content */
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow columns to wrap on smaller screens */
  }

  /* Original styles for the columns */
  .column {
    flex: 0 0 calc(33.33% - 20px); /* Adjust margins and width as needed */
    margin: 10px;
    padding: 20px;
    box-sizing: border-box; /* Include padding in the width */
    background-color: #f2f2f2;
  }




.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
}

.page-button {
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.page-button:hover {
    background-color: #ddd;
}


.img-responsive {
    width: 100%;
}
