/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.cart-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: darkgray;
}

.class-wrapper p, h3, img, div, button {
    line-height: 0;
}

.cart-container {
    width: 80%;
    margin: 20px auto;
    color: var(--color-text-black-dark);
    background-color: var(--color-baby-blue);
    border-radius: 15px;
    height: fit-content;
    max-width: 550px;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.cart-header h1 {
    font-size: 24px;
    margin-left: 10px;
}

.close-button, .cart-summary button{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border:none;
    background-color:var(--color-salmon);
    color:#fff;
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: 0;
    background-color: var(--color-salmon);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cart-item-quantity .minus-button, .cart-item-quantity .plus-button {
    background-color: var(--color-aquamarine);
    border: none;
    color: white;
}

.cart-item-quantity .minus-button, .cart-item-quantity .plus-button  {
    background: var(--color-aquamarine-light);
}

.cart-header button a, .cart-summary button a{
    text-decoration: none;
    color: white;
}

.cart-items {
    list-style: none;
    padding-inline-start: 0;
    margin: 0 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.cart-item-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-left: 20px;
}

.cart-item-info {
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
}

.cart-item-title {
    font-size: 18px;
    padding-top: 10px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.cart-item-price {
    font-size: 16px;
}

.cart-item-quantity {
    display: flex;
    justify-content: flex-end;
}

.cart-item-quantity button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #eee;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-item-quantity .plus-button {
    margin-right: 20px;
}

.cart-item-quantity input {
    width: 40px;
    height: 25px;
    border: none;
    text-align: center;

}

.cart-summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.cart-summary h2 {
    font-size: 24px;
}

.cart-summary button:hover {
    background-color: var(--color-salmon-light);
}

.cart-header button:hover{
    background-color: var(--color-salmon-light);
}
.cart-summary button:focus{
    background-color: var(--color-salmon-dark);
}

.cart-header button:focus{
    background-color: var(--color-salmon-dark);
}

.cart-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.cart-summary-title {
    margin-bottom: 10px;
}

@media(max-width: 475px) {
    /* .cart-header {
        flex-direction: column;
    } */

    .cart-header h1, .cart-summary h2 {
        font-size: 18px;
    }

    .cart-header button, .cart-summary button {
        font-size: 15px;
    }

    .cart-item-image {
        margin: 0;
    }

    .cart-item-price {
        font-size: 14px;
        line-height: 20px;
    }

    .cart-item-title {
        font-size: 15px;
    }

    .cart-item-country {
        font-size: 14px;
    }

    .cart-item {
        flex-direction: column;
        margin-top: 20px;
    }

    .cart-item-quantity {
        justify-content: center;
        margin: 10px 0;
    }

    .cart-item-details {
        align-items: center;
        text-align: center;
        vertical-align: middle;
    }

    .cart-item img{
        width: 50%;
        margin-bottom: 10px;
    }

    .cart-item-details p {
        margin: 10px 0 0;
    }

    .cart-item-quantity .plus-button {
        margin-right: 0;
    }

}

