body {
    color: var(--color-text-black-dark);
}

.cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 30px;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: auto; */
    gap: 20px;
    border-radius: 15px;
    margin: 20px 10%;
    background-color: white;
    width: 70%;
}

/* .remove-button::after {
    content:'X';
    color: var(--color-salmon);
    text-decoration: none;
    cursor: pointer;
} */

img {
    height: 200px;
    width: 300px;
}

.cart-item-img {
    display: flex;
    height: 100%;
    width: 100%;
}

.cart-image {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-item-action {
    padding-top: 5px;
}

.range {
    width: 75%;
}

.close-button-container {
    width: 70%;
}

.cart-back-button, .cart-checkout-button {
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: 0;
    background-color: var(--color-salmon);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.cart-checkout-button {
    background-color: var(--color-aquamarine);
}

.grand-total-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
}

.cart-item-action {
    display: flex;
    position: relative;
}

.close-button {
    display: flex;
    color: var(--color-salmon);
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 25px;
    border-radius: 15px;
    padding: 0px 8px;
    transition: 0.3s ease-in-out;
    /* position: absolute;
    display: inline; */
    right: 3px;
    top: 3px;
}


.border {
    /* width: 70%; */
    border-bottom: 1px solid var(--color-salmon);

    /* margin-left: 155px; */

}

.close-button:hover {
    color: var(--color-aquamarine);
    /* background-color: aliceblue;
    color: black; */
}

.range-picker input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-salmon);
    cursor: pointer;
}

.range-picker input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--color-salmon);
    cursor: pointer;
}

@media (max-width: 660px) {
    .cart-container {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 20px 0;
    }

    .grand-total-container {
        width: 95%;
    }

    .cart-item-action, cart-item-info {
        padding-left: 20px;
    }

    .close-button {
        right: 3px;
        bottom: 3px;
    }

    .tour-info{
        padding-left: 10px;
    }

    .tour-title {
        padding-left: 20px;
    }

    .close-button-container{
        right: 3px;
        bottom: 3px;
    }

}
