.checkout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
    gap: 40px;
}
.checkout-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    background-image: linear-gradient(var(--color-baby-blue-transparent), var(--color-baby-blue));
    border-radius: 15px;
    padding: 50px 40px;
    margin: 100px 20px;
}
.checkout-title{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-salmon);
    width: 100%;
    padding-bottom:20px;
    margin:0px;
}
.accordion, .checkout-form-container{
    display: flex;
    flex-direction: column;
}
.checkout-form-content{
    display: flex;
    flex-wrap: nowrap;
    gap:30px;
}
.input-group label{
    color: var(--color-text-black);
}
.input-group input:not([type="range"])
,textarea, select{
    font-size: 18px;
    height: 34px;
    padding: 1px 5px;
    color: var(--color-text-black-light);
    border: 1px solid white;
    border-radius: 4px;
    background: white;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.input-group input:hover,
textarea:hover{
    border: 1px solid var(--color-salmon);
}
.input-group :focus,
textarea:focus{
    border: 1px solid var(--color-salmon);
}
.checkout-button{
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: 0;
    background-color: var(--color-salmon);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.checkout-button:hover{
    background-color: var(--color-salmon-light);
}
.checkout-button:focus{
    background-color: var(--color-salmon-dark);
}
.billing-form, .input-group-full-name{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width:auto;
}
.input-row{
    padding:5px 0px;
}
.checkout-input, label {
    display:block;
    flex:1;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width:100%;
}
.checkout-footer{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
textarea{
    box-sizing: border-box;
    width:100%;
    min-height: 60px;
}
.checkout-table-container{
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid var(--color-baby-blue-dark);
    width: 100%;
}
.checkout-table {
    border-collapse: collapse;
    width: 100%;
}
.checkout-table th,
.checkout-table td {
    border: 1px solid var(--color-baby-blue-dark);
    text-align: center;
    padding:5px;
}
.checkout-table th {

    background-color: var(--color-baby-blue-dark);
}
.checkout-table tfoot td {
    text-align: right;
    background-color: var(--color-baby-blue-dark);
}
.checkout-table tr:last-child td:last-child {
    text-align: center;
}
::placeholder, th{
    font-size: 14px;
}
.accordion-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}
.accordion-header {
    padding: 10px;
    cursor: pointer;
    border: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    background-color: var(--color-aquamarine-light);
}
.accordion-header:hover {
    background-color: var(--color-aquamarine-dark);
}
.accordion-content {
    display: none;
    padding: 0px;
}
.accordion-item.open .accordion-content {
    display: block;
}
select{
    width:110px;
    height:25px;
}
.accordion-row{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding:10px;
}
option[value=""][disabled] {
    display: none;
}
.cvc-info{
    color: var(--color-text-black-light);
    margin:0px 10px;
    max-width:150px;
    font-size: 10px;
}
.cvc-input{
    max-width:100px;
}
.payment-logo-container{
    display: flex;
    align-items: center;
}
.payment-logo{
    height:20px;
    width:auto;
}
@media(min-width:661px) and (max-width:991px){
.checkout-form-content{
        flex-direction: column;
    }
}
@media(max-width:660px){
    .checkout-content{
        border-radius: 0px;
        margin:0px;
        width:100%;
        padding: 50px 0px;
    }
    .checkout-form-content{
        flex-direction: column;
    }
    .checkout-form-container{
        justify-content: center;
    }
    .input-row{
        flex-direction: column;
        align-items: center;
    }
    ::placeholder{
        font-size: 14px;
    }
}


