.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/page-background.jpg");
    background-size: cover;
    height: 100%;
}
.search{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    background-image: linear-gradient(var(--color-baby-blue-transparent), var(--color-baby-blue));
    border-radius: 15px;
    padding: 30px 40px;
    margin: 100px 20px;
}
.search-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-salmon);
    width: 100%;
    margin-bottom: 20px;
}
.search-header h2{
    color: var(--color-text-black-dark);
    margin-block-end: 5px;
    margin-block-start: 0px;
}
.row{
    display: flex;
    align-items: center;
}
.row h3{
    color: var(--color-text-black-dark);
    padding-left: 10px;
    padding-right: 10px;
}
.input-group{
    display: flex;
    flex:1;
    flex-direction: column;
    gap: 5px;
}
.input-group label{
    color: var(--color-text-black);
}
.input-group input
,select{
    font-size: 18px;
    height: 34px;
    padding: 1px 5px;
    color: var(--color-text-black-light);
    border: 1px solid white;
    border-radius: 4px;
    background: white;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.input-group input:hover,
select:hover{
    border: 1px solid var(--color-salmon);
}
.input-group input:focus,
select:focus{
    border: 1px solid var(--color-salmon);
}
.button-group{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex:1;
    gap: 10px;
}
.button-group button{
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: 0;
    background-color: var(--color-salmon);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button-group button:hover{
    background-color: var(--color-salmon-light);
}
.button-group button:focus{
    background-color: var(--color-salmon-dark);
}
.button-group #showAll{
    background-color: var(--color-aquamarine);
}
.button-group #showAll:hover{
    background-color: var(--color-aquamarine-light);
}
.button-group #showAll:focus{
    background-color: var(--color-aquamarine-dark);
}
.search-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.date-picker{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.form-notes{
    color: var(--color-text-black-dark);
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: var(--color-salmon-transparent);
    border-radius: 4px;
    padding: 10px;
}
.visible-mobile{
    display: none;
}
@media (max-width: 660px) {
    .search{
        margin: 0;
        border-radius: 0px;
        padding: 30px 15px;
    }
    .row {
        flex-direction: column;
        gap: 20px;
    }
    .input-group {
        width: 100%;
    }
    .row h3 {
        display: none;
    }
    .date-picker{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-notes {
        text-align: left;
    }
    .button-group {
        justify-content: center;
    }
    .visible-desktop{
        display: none;
    }
    .visible-mobile{
        display: block !important;
    }
}
@media (max-width: 475px) {
    .date-picker-item {
        display: flex;
        flex-direction: column;
    }
}
