.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("../images/page-background.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    gap: 40px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
    background-image: linear-gradient(var(--color-baby-blue-transparent), var(--color-baby-blue));
    border-radius: 15px;
    padding: 50px 40px;
    margin: 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.search-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-salmon);
    width: 100%;
    margin-bottom: 20px;
}
.search-header h2{
    color: var(--color-text-black-dark);
    margin-block-end: 5px;
    margin-block-start: 0px;
}
.search-row{
    display: flex;
    align-items: center;
    gap: 30px;
}
.input-group{
    display: flex;
    flex:1;
    flex-direction: column;
    gap: 5px;
}
.input-group label{
    color: var(--color-text-black);
}
.input-group input:not([type="range"])
,select{
    font-size: 18px;
    height: 34px;
    padding: 1px 5px;
    color: var(--color-text-black-light);
    border: 1px solid white;
    border-radius: 4px;
    background: white;
    outline: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.input-group input:hover,
select:hover{
    border: 1px solid var(--color-salmon);
}
.input-group input:focus,
select:focus{
    border: 1px solid var(--color-salmon);
}
.button-group{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex:1;
    gap: 10px;
}
.button-group button{
    font-size: 18px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: 0;
    background-color: var(--color-salmon);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button-group button:hover{
    background-color: var(--color-salmon-light);
}
.button-group button:focus{
    background-color: var(--color-salmon-dark);
}
.button-group #showAll, #random{
    background-color: var(--color-aquamarine);
}
.button-group #showAll:hover, #random:hover{
    background-color: var(--color-aquamarine-light);
}
.button-group #showAll:focus, #random:focus{
    background-color: var(--color-aquamarine-dark);
}
.search-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.date-picker{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.form-notes{
    color: var(--color-text-black-dark);
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: var(--color-salmon-transparent);
    border-radius: 4px;
    padding: 10px;
}
.more-info{
    display: flex;
}
.more-info a{
    text-decoration: none;
}
.more-item{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-salmon);
    border-radius: 15px;
    margin: 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.more-item:hover img{
    transform: scale(1.1);
}
.more-item:hover h3{
    transform: scale(1.1);
}
.more-image{
    display: flex;
    max-height: 300px;
    max-width: 370px;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
}
.more-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}
.more-item h3{
    text-align: center;
    color: var(--color-text-black);
    transition: .3s ease-in-out;
}
.visible-mobile{
    display: none;
}
@media (max-width: 660px) {
    .container{
        height: fit-content;
        gap: 0;
    }
    .search{
        margin: 0;
        border-radius: 0px;
        padding: 0 15px 0 15px;
        height: fit-content;
        box-shadow: none;
    }
    .search-row {
        flex-direction: column;
        gap: 20px;
    }
    .search-header{
        padding-top: 35px;
    }
    .search-form{
        padding-bottom: 35px;
    }
    .input-group {
        width: 100%;
    }
    .date-picker{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-notes {
        text-align: left;
    }
    .button-group {
        justify-content: center;
    }
    .more-info{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .more-item{
        margin: 0;
        border-radius: 0px;
        padding: 0 15px 0 15px;
        height: fit-content;
        width: 100%;
        background-color: var(--color-baby-blue);
        padding-bottom: 30px;
        box-shadow: none;
    }
    .more-image{
        width: 100%;
        height: 100%;
        max-width: 660px;
        max-height: 200px;
        overflow: hidden;
        border-radius: 0 0 0 0;
    }
    .more-item h3{
        width: 100%;
        background-color: var(--color-salmon);
        padding: 10px 0 10px 0;
        margin: 0;
    }
    .visible-desktop{
        display: none;
    }
    .visible-mobile{
        display: block !important;
    }
}
@media (max-width: 475px) {
    .date-picker-item {
        display: flex;
        flex-direction: column;
    }
}
