.loc {
    margin: auto;
    padding: 2rem;
    width: fit-content;
}

.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.card {
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 540px;
    height: fit-content;  /* change with data */
}

.card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin: 0;
    font-size: 1.25rem;

}
.card-subtitle {
    font-size: 1rem;
    color: var(--color-gray);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.sub {
    font-size: 1rem;
    color: var(--color-gray);
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}
.card-text {
    margin-top: 0.3rem;
    color: var(--color-text-black-dark);
}

/* .right-button {
    justify-content: right;
} */
.more-button {
    display: inline-block;
    background-color: var(--color-salmon);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.more-button:hover {
    background-color: var(--color-salmon-dark);
}

body {
    background: url('../images/plane8.png'), var(--color-baby-blue-light);
    /* background: url('../images/plane2.png'), var(--color-baby-blue-light); */
    background-repeat: repeat;
    background-size: 90px 90px;
}
