body {
    font-family: Arial;
    background-color: #EFE7BC;
}

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
} */

.description-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 20px;
    background-color: #E7F2F8;
    border-radius: 15px;
    color: rgb(50, 50, 50);
}

.description-header {
    width: 100%;
    border-bottom: 1px solid #FFA384;
    text-align: center;
}

.description-header h2 {
    margin-top: -20px;
    margin-bottom: 8px;
    color: rgb(46, 46, 46);;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 40px;
    background-color: #E7F2F8;
    border-radius: 15px;
    align-items: flex-start;
    justify-content: center;
    /* box-shadow: 3px 3px 3px 3px rgba(213, 211, 211, 0.5); */
    /* position: relative; */
    /* position: relative; */
}

.destination-photo {
    display: flex;
    height: 100%;
    width: auto;
    /* align-items: center;
    justify-content: center; */
    /* object-fit: cover; */
}

.destination-image {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; */
    /* display: block;
    width: auto;
    object-fit: cover; */
}


.add-to-cart-button {
    background-color: #FFA384;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    font-size: 16px;
    border-radius: 10px;
    /* bottom: 20px;
    right: 20px; */
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px rgba(213, 211, 211, 0.5);
    transition: all 0.3s ease-in-out;
}

.add-to-cart-button:hover {
    background-color: #FF7F50;
}

.add-to-cart-button:active {
    background-color: #74BDCB;
}

.back-button {
    width: 90px;
    background-color: #74BDCB;
}

.back-button:hover {
    background-color: #5b949f;
}

.back-button:active {
    background-color: #FF7F50;
}

.description-buttons-media {
    display: none;
}

@media only screen and (max-width: 900px) {
    .description-container {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .description-buttons {
        display: none;
    }

    .description-buttons-media {
        display: block;
    }

}

