.loc {
    margin: auto;
    padding: 2rem;
    width: fit-content;
}
.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.card {
    background-color: white;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 540px;
    height: 540px;
}
.card a{
    text-decoration: none;
}
.card h5{
    color: var(--color-text-black-dark);
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}
.card:hover img{
    transform: scale(1.1);
}
.card-img-top {
    width: 100%;
    height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.card-body {
    padding: 1rem;
}
.card-title {
    margin: 0;
    font-size: 1.25rem;
}
.card-subtitle {
    font-size: 1rem;
    color: var(--color-gray);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.sub {
    font-size: 1rem;
    color: var(--color-gray);
    margin-top: 0.1rem;
    margin-bottom: 0.5rem;
}
.card-text {
    margin-top: 0.3rem;
    color: var(--color-text-black-dark);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4;
    -webkit-box-orient: vertical;
}
.more-button {
    display: inline-block;
    background-color: var(--color-salmon);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.more-button:hover {
    background-color: var(--color-salmon-dark);
}
@media (max-width: 660px) {
    .row{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .loc{
        margin: 0;
        padding: 0;
    }
    .card{
        width: 230px;
        height: 230px;
        margin: 20px;
    }
    .card-img-top{
        height: 120px;
    }
    .card-body{
        padding: 10px;
    }
    .card h5{
        font-size: 1rem;
    }
    .card p{
        font-size: 0.9rem;
        margin-top: 0.2rem;
    }
    .card-text{
        display: none;
    }
    .card-subtitle{
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .sub{
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
                line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
