body{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    background: url("../images/page-background.jpg");
}

.dif {
    margin: auto;
    padding: 2rem;
    width:fit-content;
}

.email-error {
    color: red;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    display: none;

}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
	width: 350px;
	height: 500px;
    margin-top: 10rem;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;

}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--color-aquamarine);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: var(--color-aquamarine-dark);
}

.alert {
    position: fixed;
    top: 30px; /* Adjust the top position for mid-top placement */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    max-width: 90%;
    background-color: #fc6b61;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.alert ul {
    list-style-type: none;
    padding: 0;
}

.alert ul li {
    margin-bottom: 5px;
}

  /* Media Query for smaller screens */
@media screen and (max-width: 768px) {
.alert {
    top: 10px; /* Adjust the top position for mid-top placement */
    right: 5px;
    left: unset; /* Remove left positioning for smaller screens */
    transform: unset; /* Remove transform for smaller screens */
    width: 90%;
    max-width: none;
    padding: 8px;
    }
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: var(--color-aquamarine);
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
